/* Root colors and some typography styles */
:root {
	line-height: 1.5;
	font-weight: 500;
	--clr-Light-red: hsl(0, 100%, 67%);
	--clr-Orangey-yellow: hsl(39, 100%, 56%);
	--clr-Green-teal: hsl(166, 100%, 37%);
	--clr-Cobalt-blue: hsl(234, 85%, 45%);
	--clr-Light-slate-blue/*background*/: hsl(252, 100%, 67%);
	--clr-Light-royal-blue/*background*/: hsl(241, 81%, 54%);
	--clr-Violet-blue/*circle*/: hsla(256, 72%, 46%, 1);
	--clr-Persian-blue/*circle*/: hsla(241, 72%, 46%, 0);
	--clr-White: hsl(0, 0%, 100%);
	--clr-Pale-blue: hsl(221, 100%, 96%);
	--clr-Light-lavender: hsl(241, 100%, 89%);
	--clr-Dark-gray-blue: hsl(224, 30%, 27%);
}

/* General styling */
body {
	margin: auto;
	display: flex;
	justify-content: center;
	place-items: center;
	font-family: "Hanken Grotesk", sans-serif;
	height: 100vh;
}

/* Container styles*/
.container {
	display: flex;
	flex-direction: column;
}

/* Card 1 styles */
div.card1 {
	border-radius: 0px 0px 35px 35px;
}
h2 {
	font-size: 20px;
}
span {
	color: var(--clr-Pale-blue);
	font-size: 27px;
}
p {
	margin: 0;
}
.seventy-six {
	font-weight: 800;
	font-size: 60px;
}
.total-score {
	border-radius: 100%;
	background: linear-gradient(
		to bottom,
		hsla(256, 72%, 46%, 1),
		hsla(241, 72%, 46%, 0) 80%
	);
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1.5rem auto;
}
.outcome {
	width: 78%;
	margin: auto;
}

/* Card 2 styles */
h3 {
	color: var(--clr-Dark-gray-blue);
}
.score-card {
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	border-radius: 7px;
	padding: 0px 17px;
}
.group-1 {
	display: flex;
	gap: 1rem;
}

.reaction {
	background-color: hsla(0, 100%, 67%, 0.1);
	color: var(--clr-Light-red);
}
.memory {
	background-color: hsla(39, 100%, 56%, 0.1);
	color: var(--clr-Orangey-yellow);
}
.verbal {
	background-color: hsla(166, 100%, 37%, 0.1);
	color: var(--clr-Green-teal);
}
.visual {
	background-color: hsla(234, 85%, 45%, 0.1);
	color: var(--clr-Cobalt-blue);
}
.score {
	color: var(--clr-Dark-gray-blue);
}

/* Button styles*/
button:hover {
	background: linear-gradient(
		to bottom,
		hsla(256, 72%, 46%, 1) 10%,
		hsla(241, 72%, 46%, 0) 100%
	);
}

/* Media queries breakpoints */
@media (min-width: 850px) {
	body {
		display: flex;
		justify-content: center;
		place-items: center;
		align-items: center;
	}
	.container {
		display: flex;
		flex-direction: row;
	}
	div.card1 {
		border-radius: 35px 35px 35px 35px;
		position: relative;
		left: 22px;
	}
	div.card2 {
		box-shadow: 5px 10px 40px hsla(234, 85%, 45%, 0.2);
	}
}

@media (min-width: 1024px) {
	.container {
		width: 820px;
		height: 570px;
		font-size: large;
	}
	div.card1 {
		width: 40rem;
		padding-top: 3rem;
	}
	div.card2 {
		padding-left: 1rem;
	}
}
